

<main role="main">

    <div class="jumbo">
      <div class="container">
        <h1 class="text-center" appTitlesSize> EduGest: Simplificando la Gestión de Estudiantes</h1>
        <p class="mt-5">Bienvenido/a a nuestra plataforma web diseñada especialmente para la gestión eficiente de estudiantes. Nuestra aplicación simplifica el proceso de inscripción a cursos al proporcionar información detallada sobre cada curso, incluyendo datos relevantes como el nombre del profesor asignado, el número de clases y la duración de las mismas, entre otros. Además, ofrecemos una interfaz intuitiva que permite a los usuarios acceder y editar la información de cada estudiante de forma rápida y sencilla, así como la opción de eliminar registros cuando sea necesario. En nuestra plataforma también hemos integrado un sistema de gestión de usuarios, que brinda a los administradores la capacidad de controlar los perfiles con acceso a la herramienta. Solo los perfiles con rol de administrador tienen privilegios para ver, editar o eliminar usuarios registrados en nuestra plataforma.</p>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h2>Perfil de Administrador: Gestión Completa y Control Total</h2>
          <p>El perfil de administrador en nuestra plataforma ofrece una amplia gama de funciones y un control total sobre la gestión de estudiantes y usuarios. Con este perfil, podrás acceder a una lista detallada de estudiantes inscritos, permitiéndote editar su información, eliminarlos y visualizar detalles específicos de cada estudiante de manera exhaustiva. Además, tendrás la capacidad de agregar, editar o eliminar cursos asociados a cada estudiante según sea necesario. </p>

           <p>Además de las funciones relacionadas con los estudiantes, el perfil de administrador te brinda la posibilidad de listar a los usuarios inscritos, ver su información, crear nuevos usuarios y, si es necesario, eliminarlos. También tendrás la opción de editar la información de los usuarios existentes, permitiéndote un control total sobre los perfiles de acceso a nuestra plataforma.</p>
            
           <p>Con el perfil de administrador de nuestra aplicación, disfrutarás de una gestión completa y eficiente, proporcionándote todas las herramientas necesarias para asegurar un funcionamiento óptimo y una administración sin complicaciones.</p>
        </div>
        <div class="col-md-6">
          <h2>Perfil de Usuario: Acceso Personalizado y Gestión Simplificada</h2>
            <p>El perfil de usuario en nuestra plataforma te brinda un acceso personalizado y funciones específicas para facilitar tu gestión como estudiante. Con este perfil, podrás acceder a una lista completa de estudiantes inscritos, permitiéndote visualizar información detallada de cada uno de ellos. Además, tendrás la capacidad de editar y actualizar la información de los estudiantes según sea necesario, así como la opción de eliminar registros cuando corresponda.</p>
            <p>Además de la gestión de estudiantes, nuestro perfil de usuario te permite tener un control directo sobre los cursos asociados a cada estudiante. Podrás agregar nuevos cursos, editar la información de cursos existentes y eliminar cursos según tus necesidades específicas.</p>
            <p>En resumen, nuestro perfil de usuario te ofrece una experiencia intuitiva y simplificada, brindándote las herramientas necesarias para gestionar eficientemente la información de los estudiantes y los cursos relacionados.</p>
        </div>
      </div>
      <hr>
    </div>

  </main>

  <footer class="container">
    <p>&copy; Company 2023-2024</p>
  </footer>